body {
  background-color: whitesmoke;
  font-family: sans-serif;
}

.label {
  font-weight: bold;
}

.bars {
  pointer-events: all;
}

.bars:hover {
  opacity: 0.8;
}

#usa-map {
  overflow: hidden;
}

/* Style for Custom Tooltip */
div.tooltip {
  position: absolute;
  text-align: center;
  padding: 4px;
  background: #fff;
  border: 0px;
  pointer-events: none;
}

path:hover {
    fill-opacity: .7;
}

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

/*Design of D3 tooltip*/
.d3-tip {
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  padding: 4px;
  background: rgba(33, 33, 33, 0.9);
  color: #fff;
  border-radius: 2px;
}

/*D3 tooltip text*/
.d3-tip text {
  font-size: 5px;
  text-align: center;
  color: black;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 17px;
  width: 100%;
  line-height: 1;
  color: black;
  content: "\25BE";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -4px 0 0 0;
  top: 100%;
  left: 0;
}
