/*Name: Mark Pijnenburg
Student number: 11841117
Minor Programmeren
University of Amsterdam*/

body {
  background-color: whitesmoke
}

/*Color of the bars in the chart*/
.bar {
  fill: #000654;
}

/*Changing color when hovering bars*/
.bar:hover {
  fill: #ff0000;
}

/*Text properties from chart*/
.chart {
  /*fill: white;*/
  font: 15px sans-serif;
  text-anchor: middle;
}

/*Properties from axis text*/
.axis text {
  font: 10px sans-serif;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

h1, h4, h5 {
  text-align: center;
  font-family: sans-serif;
}

h4, h5 {
  font-weight: normal;
}
/*Design of D3 tooltip*/
.d3-tip {
  font-size: 13px;
  line-height: 1;
  font-weight: bold;
  font-family: sans-serif;
  text-align: center;
  padding: 4px;
  background: rgba(33, 33, 33, 0.9);
  color: #fff;
  border-radius: 2px;
}

.d3-tip text {
  font-size: 5px;
  text-align: center;
  color: black;
}

/* Creates a small triangle extender for the tooltip */
.d3-tip:after {
  box-sizing: border-box;
  display: inline;
  font-size: 15px;
  width: 100%;
  line-height: 1;
  color: #000654;
  content: "\1F847";
  position: absolute;
  text-align: center;
}

/* Style northward tooltips differently */
.d3-tip.n:after {
  margin: -1px 0 0 0;
  top: 100%;
  left: 0;
}

/*Centre the chart on the webpage*/
.chart {
  display: block;
  margin: 0 auto;
}

.cross {
  color: #ff0000;
}
